@{
	ViewData["Title"] = "Confirmação de Apagar";
}

<div class="text-center">

	<h3>Realmente deseja apagar o contato ()?</h3>

</div>

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">Cancelar exclusão</button>
  <button class="btn btn-danger" type="button">Confirmar exclusão</button>
</div>