@{
	ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">

	<h1 class="display-4">Cadastrar Contato</h1>

</div>

<form>

	<div class="form-group">
		<label for="exampleInputEmail1">Nome</label>
		<input type="text" class="form-control" placeholder="Digite o nome do contato">
	</div>
	<br />
	<div class="form-group">
		<label for="exampleInputEmail1">E-mail</label>
		<input type="text" class="form-control" placeholder="Digite o email do contato">
	</div>
	<br />
	<div class="form-group">
		<label for="exampleInputEmail1">Celular</label>
		<input type="text" class="form-control" placeholder="Digite o celular do contato">
	</div>
	<br />
	<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
	<a class="btn btn-secondary btn-block" role="button" asp-controller="Contato" asp-action="Index">Voltar</a>
</form>
